<!DOCTYPE html>
<html lang="en" data-ng-app="steamBuddies" data-ng-controller="mainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Steambuddies</title>
    <link href="css/main.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

<div class="localoronline slide slide-0" data-ng-class="activeSlide == 0 ? 'active' : ''">
    <div class="container">
        <h1>Would you like to play on a</h1>
        <button data-ng-click="setMode(LOCAL_MODE)">Single PC</button>
        or on
        <button data-ng-click="setMode(ONLINE_MODE)">Multiple PC's</button>
    </div>

</div>
<div class="howmanyplayers slide slide-1" data-ng-class="activeSlide == 1 ? 'active' : ''">
    <div class="container">
        <h1>How many players?</h1>
        <button data-ng-repeat="n in [1,2,3,4,5,6,7,8]" data-ng-click="setPlayers(n)">{{n}}</button>

    </div>

</div>

<div class="players slide slide-2" data-ng-class="activeSlide == 2 ? 'active' : ''">
    <div class="container">
        <h1><span data-ng-bind="playerNumber == 1 ? 'Host' : 'Player '+playerNumberString[players.length+1]">  </span>
            <small>Enter your Steam Name/ID</small>
        </h1>
        <form data-ng-submit="addPlayer(currentPlayerName)">
            <input type="text" data-ng-model="currentPlayerName">
        </form>
    </div>

</div>

<div class="youshouldplay slide slide-3" data-ng-class="activeSlide == 3 ? 'active' : ''">
    <div class="container">

        <div class="spinner fade" data-ng-class="(game != '' || error != '') ? 'fade-out' : 'fade-in'">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>
        <div data-ng-class="game != '' ? 'slide-in' : ''" class="off-canvas">
            <h1>You should play</h1>

            <p class="game loaded" data-ng-class="game.name.length > 8 ? 'smaller-font' : ''">
                <a href="{{ game.store }}" target="_blank">
                    {{ game.name }}
                </a>
            </p>
            <div class="clearfix"></div>
            <a href="steam://run/{{ game.id }}" class="button">Play Game</a>
            <button data-ng-click="loadGame()">Not what you want? Find another game.</button>
            <button data-ng-click="resetSystem()">Start over</button>
        </div>
        <div data-ng-hide="error == ''" class="error-message">
            <h1>{{ error }}</h1>
            <button data-ng-click="resetSystem()">Try again</button>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>


<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
<script src="js/main.js"></script>
